<nav class="flex flex-row justify-between items-center py-2 px-4">
  <h1 class="border-black-400 border-2 px-3 py-2 shadow-md shadow-black rounded-md">Arha Deals</h1>
  <%= link_to "Log in", new_user_session_path, class: 'border-yellow-400 border-2 px-3 py-2 shadow-md shadow-black rounded-md' %>
</nav>