<div id="<%= dom_id cart_item %>">
  <% if action_name != "show" %>
    <%= link_to "Show this cart item", cart_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cart item', edit_cart_item_path(cart_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
